.custom-body {
  background-color: #784cd6;
}

.content-main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-button {
  margin-bottom: 100px;
  text-align: center;
}

.custom-report {
  border-bottom: 2px white solid;
}

.custom-download-section {
  margin-top: 15px;
}

.custom-download {
  padding: 15px;
  border-radius: 5px;
}

.custom-download a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.username {
  position: absolute;
  color: white;
  margin-left: 15px;
  font-size: large;
  right: 15px;
  text-transform: uppercase;
}

.image-wrapper {
  width: 500px;
  height: 100%;
  margin: auto;
  text-align: center;
}

.logo-wrapper {
  text-align: center;
}

.custom-logo {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.custom-image {
  max-width: auto;
  max-height: 100%;
}

.custom-heading {
  color: white;
  background-color: #14c6a4;
  text-align: center;
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 400;
}

.card-body {
  text-align: center;
}

.custom-anchor {
  color: #784cd6;
  background-color: white;
  width: 300px;
}

.custom-card-header {
  color: #006ac7;
  font-size: large;
  border: none;
  text-align: center;
  margin: 1rem;
}

.custom-table {
  border-radius: 0.5rem;
}

.custom-input,
.custom-header,
.custom-form {
  border: none;
}

.custom-login {
  width: 150px;
}

@media (max-width: 1040px) {
  .custom-anchor {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .custom-anchor {
    width: 120px;
  }
  .custom-logo {
    width: 250px;
  }
  .custom-button {
    margin-bottom: 50px;
  }
} 