.custom-body {
  background-color: #784cd6;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button {
  margin: 25px;
}

.register-button {
  text-align: right;
}

.custom-report {
  border-bottom: 2px white solid;
}

.custom-download-section {
  margin-top: 15px;
}

.custom-download {
  padding: 15px;
  border-radius: 5px;
}

.custom-download a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.username {
  position: absolute;
  color: white;
  margin-left: 15px;
  font-size: large;
  right: 15px;
  text-transform: uppercase;
}

.image-wrapper {
  width: 500px;
  height: 100%;
  margin: auto;
  text-align: center;
}

.custom-logo {
  width: 90%;
  height: auto;
  margin-bottom: 100px;
}

.custom-image {
  max-width: auto;
  max-height: 100%;
}

.custom-heading {
  color: white;
  background-color: #14c6a4;
  text-align: center;
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 400;
}

.card-body {
  text-align: center;
}

.custom-anchor {
  color: #784cd6;
  background-color: white;
  width: 250px;
}

.custom-card-header {
  color: #006ac7;
  font-size: large;
  border: none;
  text-align: center;
  margin: 1rem;
}

.custom-table {
  border-radius: 0.5rem;
}

.custom-input,
.custom-header,
.custom-form {
  border: none;
}

.custom-login {
  width: 150px;
}

@media (max-width: 768px) {
  .button-align {
    text-align: center;
  }
} 